@tailwind base;
@tailwind components;
@tailwind utilities;
.square-img {
  width: 128px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}
/* Chrome/Safari/WebKit */
.no-scrollbar::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none !important;
}

/* IE/Edge legacy */
.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}


